@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>La Bibliothèque Livrybody de Charleville-Mézières vous accueille du Lundi au Samedi, de 9H à 17H à côté de la Mairie.</p>
