@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bibliothèque - Livrybody</h1>
    <p class="lead">La bibliothèque municipale Livrybody de Charleville-Mézières vous accueille sur son site et met à votre disposition un ensemble de services pour mettre la culture à votre portée, qui et où que vous soyez !</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Voir les services &raquo;</a></p>
</div>